<h4>Steam {{ steamgroup.groupname }} </h4>
{% for mem in steamgroup.memberlist %}
    <ul class="accordion">
      <li class="steam {{ mem.onlineState }}"><img src={{ mem.avatarMedium }} alt="avatar steam" /> {{ mem.steamID }}</li>
    </ul>
{% endfor %}
