<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
          <link href="{{ asset('css/foundation.min.css') }}" rel="stylesheet" />
          <link href="{{ asset('css/app.css') }}" rel="stylesheet" />
          <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div id="topmenu" class="top-bar">
      <ul class="accordion">
        <li>
        <a href="{{ path('homepage') }}" class="tiny button menu">{{ "home" | trans  }}</a>
        {% if is_granted('ROLE_MEMBER') %}
            <a href="{{ path('post_index') }}" class="tiny button menu">{{ "write.posts" | trans  }}</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('user_index') }}" class="tiny button menu">{{ "users" | trans  }}</a>
            {% endif %}
            <a href="{{ path('logout') }}" class="tiny button alert menu">{{ "logout" | trans  }}</a>
        {% endif %}
        </li>
      </ul>
    </div>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
