{% extends 'base.html.twig' %}

{% block body %}
<div class="callout large primary">
  <div id="welcome" class="row column text-center">
    <h1></h1>
    {% if app.user is not null %}
      <p>{{ "welcome" | trans  }} : {{ app.user.username }}</p>
    {% endif %}
    {% if app.user is not null %}
      <p>Steam group:  {{ steamgroup.groupname }}</p>
    {% endif %}
  </div>
</div>
<!-- <h3><a href="{{ path('post_index') }}">Posts</a></h3> -->

<div id="content" class="row">
  <div class="medium-8 columns">
    <div class="blog-post">
      <ul class="accordion">
      {% for post in posts %}
        <h3>{{ post.title }}</h3>
        <li>{{ post.text }}</li>
        <div class="callout">
        <li>{{ "by" | trans  }}: {{ post.author.username }} {{ "on" | trans  }}: {{ post.date|date('d-m-Y') }}</li>
        </div>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="medium-3 columns sticky-container" style="height: 322.8px;">
    <div class="sticky is-at-top is-anchored">
      <ul class="accordion">
        <li>
          <a href="{{ path('login') }}" class="tiny button menu">{{ "connect" | trans  }}</a>
          <a href="{{ path('user_registration') }}" class="tiny button menu">{{ "register" | trans  }}</a>
        </li>
      </ul>
      <h4>teamspeak</h4>
      <div class="loading"></div>
      <div id="steambloc"></div>
  </div>
</div>

<script>
$(".loading").hide();
$(document).ready(function(){
    $(".loading").show();
    $.ajax({
        url: "{{ path('steam')}}",
        success: function(data){
           $('#steambloc').html(data);
           $(".loading").hide();
        }
    });
    return false;
});
</script>

{% endblock %}
