{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "user.edit" | trans  }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value={{ "save" | trans  }} class="button"/>
        <a href="{{ path('user_index') }}" class="button">{{ "back.list" | trans  }}</a>
    {{ form_end(edit_form) }}
    {{ dump(delete_form) }}
    {{ form_start(delete_form) }}
        <input type="submit" value={{ "delete" | trans  }} class="button alert">
    {{ form_end(delete_form) }}
{% endblock %}
