{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "user.list" | trans  }}</h1>

    <table>
        <thead>
            <tr>
                <th>{{ "Pseudo" | trans  }}</th>
                <th>{{ "Email" | trans  }}</th>
                <th>{{ "Actions" | trans  }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <a href="{{ path('user_show', { 'id': user.id }) }}" class="button">{{ "show" | trans  }}</a>
                  <a href="{{ path('user_edit', { 'id': user.id }) }}" class="button">{{ "edit" | trans  }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('user_new') }}" class="button succes">{{ "new" | trans  }}</a>

{% endblock %}
