{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "user.new" | trans  }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value={{ "save" | trans  }} class="button"/>
        <a href="{{ path('user_index') }}" class="button">{{ "back.list" | trans  }}</a>
    {{ form_end(form) }}

{% endblock %}
