{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "User" | trans  }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ "Name" | trans  }}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{ "Email" | trans  }}</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('user_index') }}" class="button">{{ "back.list" | trans  }}</a>
            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="button">{{ "edit" | trans  }}</a>
            {{ form_start(delete_form) }}
                <input type="submit" value={{ "delete" | trans  }} class="button alert">
            {{ form_end(delete_form) }}
{% endblock %}
