body{
  background: #111111;
  color: #CDCDCD;}
h3{
  color:#3399FF;}
h4{
  color:#00A000;}
label{
  font-weight: bold;
  color:#d41818;}
table tbody{
  background-color: inherit;}
table tbody tr:nth-child(2n){
  background-color: #262626;
}
.form-control{
  font-weight: bolder;
  color: #050505;
  background-color: #999999;
}
.steam.in-game {
  background: #CC0000;
  color: #fefefe; }
.steam.offline {
    background: #121212;
    color: #fefefe; }
.steam.online {
    color: #fefefe;
    background: #00A000;}
.callout{
    background-color: #111111;
    color:#00EA00;}
.callout.primary {
    background: #111111;
    color: #CDCDCD;}
.accordion {
    background: #111111;}
.top-bar,
.top-bar ul {
    background-color: #111111; }
.button {
    font-weight: bold;
    background-color: #00FF00;
    color:#0000EE;}
.loading{
  background-color: red;
  background:url(../img/load2.gif) no-repeat center center;
  width:32px;
  height:32px;
}
