{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <a href="{{ path('post_index') }}" class="button success">{{ "back.list" | trans  }}</a>
        <input type="submit" value={{ "save" | trans  }} class="button" />
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
        <input type="submit" value={{ "delete" | trans  }} class="button alert">
    {{ form_end(delete_form) }}

{% endblock %}
