{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "post.list" | trans  }}</h1>

    <table>
        <thead>
            <tr>
                <th>{{ "Title" | trans  }}</th>
                <th>{{ "Date" | trans  }}</th>
                <th>{{ "Text" | trans  }}</th>
                <th>{{ "Actions" | trans  }}</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <!-- <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.id }}</a></td> -->
                <td>{{ post.title }}</td>
                <td>{% if post.date %}{{ post.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ post.text }}</td>
                <td>
                  <a href="{{ path('post_show', { 'id': post.id }) }}" class="button">{{ "show" | trans  }}</a>
                  <a href="{{ path('post_edit', { 'id': post.id }) }}" class="button">{{ "edit" | trans  }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_new') }}" class="button success">{{ "new" | trans  }}</a>

{% endblock %}
