{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "post.creation" | trans  }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value={{ "save" | trans  }} class="button"/>
        <a href="{{ path('post_index') }}" class="button success">{{ "back.list" | trans  }}</a>

    {{ form_end(form) }}

{% endblock %}
