{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ "post" | trans  }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ "Title" | trans  }}</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>{{ "Date" | trans  }}</th>
                <td>{% if post.date %}{{ post.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ "Text" | trans  }}</th>
                <td>{{ post.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_index') }}" class="button success">{{ "back.list" | trans  }}</a>
    <a href="{{ path('post_edit', { 'id': post.id }) }}" class="button">{{ "edit" | trans  }}</a>
    {{ form_start(delete_form) }}
    <input type="submit" value={{ "delete" | trans  }} class="button alert">
    {{ form_end(delete_form) }}

{% endblock %}
