{% extends 'base.html.twig' %}

{% block body %}
  {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}
  <form action="{{ path('login') }}" method="post">
    <div class="row">
    <div class="small-12 columns">
      <label for="username">{{ "Username" | trans  }}:</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" />

      <label for="password">{{ "Password" | trans  }}:</label>
      <input type="password" id="password" name="_password" />

      <a href="{{ path('user_registration') }}">{{ "register" | trans  }}</a>
      <br>
      <button type="submit" class="button success">{{ "connect" | trans  }}</button>
    </div>
    </div>
  </form>
{% endblock %}
